table, th, td{
        border-collapse: collapse;
        border: 2px solid black;
        text-align: center;
      }

body {
    background-color: gold;
}

.td {
    font-weight: 777;
}

.th {
    font-weight: 100;
}
h1 {
    color: black;
}
